.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.refynrev_panel_container .refyn_screenshot {
  float: right;
  margin-left: 15px;
  margin-right: 0px;
}
.refynrev_panel_container .refyn_uploader_remove {
  left: -10px;
  right: auto;
}
.refynrev_panel_container .refyn_uploader_image {
  float: right;
}
